<header class="site-header" role="banner">
    <div class="container">
        <img src="{{ "/assets/images/profile.webp" | relative_url }}" class="profile-image pull-left img-responsive"
            alt="Jeremy Heyer">
        <div class="profile-content pull-left">
            <h1 class="name">Jeremy Heyer</h1>
            <h2 class="desc">Full Stack Developer</h2>
            <ul class="social list-inline">
                <li><a href="https://www.linkedin.com/in/jheyer159"><img src="/assets/images/linkedin.svg"
                            alt="linkedin"></a></li>
                <li><a href="https://github.com/jheyer159"><img src="/assets/images/github.svg" alt="github"></a></li>
                <li class="last-item"><a href="https://www.hackerrank.com/jheyer159"><img
                            src="/assets/images/hackerrank.svg" alt="hackerrank"></a></li>
            </ul>
        </div>
    </div>
</header>