.page-content{
    background: #e2e2e2;
}

.primary {

    h3 {
        margin-bottom: 1em; }

    > div{
        padding: 0.5em 2em;
        background: #FFFFFF;}

    .projects {
        
        h3{
            width: 100%; }

        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding-bottom: 2em;
    }

    .project {
        margin: 2px auto;
        width: 33.3%;

        p {
            /* height: 4em; */}

        .content {
            height: 275px;
            background:#f1f1f1;
            margin: 0 2px;
            padding: 0.5em; 
            display: flex;
            flex-flow: row wrap;

            img {
                max-height: 170px;
                margin: auto;
            }
        /*
            > * {
                flex: 0 1 auto;
            }
            */
        }
    }

}

.secondary {
    .content {
        padding-bottom: 2em;
    }

    > div{
        padding: 0.5em 2em;
        background:#FFFFFF;
        /*height: 300px;*/
    }

    .level-bar {
        height: 15px;
        background: lightgray;
    }

    .level-bar-inner {
        width: 92%;
        background: hsla(146, 70%, 33%, 1);
        height: 15px;
    }

    .level-label {
        float: right;
        color: hsla(0, 0%, 63%, 1);
    }
}