.page-content{
    background: #e2e2e2;
}

.primary {
    h3 {
        margin-bottom: 1em;
    }
    > div{
        padding: 0.5em 2em;
        background: #FFFFFF;
        /*height: 300px;*/
    }
    .project {
        background:#f1f1f1;
        padding: 0.5em;

        img {
            /*height: 150px;*/
        }
    }
    .projects div[class^="col"] {
        padding-left: 0;
    }

}

.secondary div{
    padding: 0.5em 2em;
    background:#FFFFFF;
    /*height: 300px;*/
}