.page-content{
    background: #e2e2e2;
}

.primary {
    h3 {
        margin-bottom: 1em;
    }
    div{
        padding: 0.5em 2em;
        background: #FFFFFF;
        /*height: 300px;*/
    }
}

.secondary div{
    padding: 0.5em 2em;
    background:#FFFFFF;
    /*height: 300px;*/
}