article {
    background: #f1f1f1;

    h1,h2,h3,h4,h5{
        margin-bottom: 1em;
    }

    header.post-header{
        padding: 2em;
        padding-bottom: 0;    }
    
    div.post-content { 
        padding:  0 2em;
        padding-bottom: 1em;  }

    img {
        width: 300px; }

    .space {
        padding-left: 1.5em;}

    .center {
        text-align: center;}
}