article {
    background: #f1f1f1;

    h1,h2,h3,h4,h5{
        margin-bottom: 1em;
    }

    .youtube {
        max-width: 100%;
    }

    header.post-header{
        padding: 2em;
        padding-bottom: 0;    }
    
    div.post-content { 
        padding:  0 2em;
        padding-bottom: 1em;  }

    img {
        width: 300px; }
        
    .full-image {
        width: 100%;
    }

    .space {
        padding-left: 1.5em;}

    .center {
        text-align: center;}

    h4 {
        margin: 1em 0;
    }

    figure.highlight {
        code {
            white-space: inherit;
            overflow: auto;
            overflow-wrap: normal;
        }
    }
}