---
layout: default
---

    <div class="row">
        <div class="primary col-md-8">
            <div class="content">
                <div class="row">
                    <h3>About Me</h3>
                    <p>I like building things. Whether it's made of wood or electricity, I want to know how it works. Adaptability and resourcefulness are important to my way of life. These traits have allowed me to expand my knowledge into a variety of areas and serve as my guide through the unkown.</p>
                </div><!--//row-->
                <div class="row projects">
                    <h3>Projects</h3>
                        {% for post in site.posts %}
                            <div class="project">
                                <div class="content">
                                    <a href="{{ post.url }}">{{ post.title }}</a>
                                    {{ post.excerpt }}
                                    {% assign image = post.images[0] %}
                                    {% include image.html image=image %}
                                </div>
                            </div>
                        {% endfor %}
                </div><!--//row-->
            </div><!--//content-->
        </div>
        <div class="secondary col-md-4" >
            <div class="content">
                <h3>Skills</h3>
                <p class="intro">
                    Skills developed from years of tinkering with computers and electronics.</p>
                
                <div class="skillset">
                    
                    <div class="item">
                        <h5 class="level-title">Javascript and ES6+<span class="level-label">Expert</span></h5>
                        <div class="level-bar">
                            <div class="level-bar-inner" style="width: 92%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h5 class="level-title">HTML5, CSS3, SVG<span class="level-label">Expert</span></h5>
                        <div class="level-bar">
                            <div class="level-bar-inner" style="width: 94%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h5 class="level-title">Linux &amp; Bash<span class="level-label">Pro</span></h5>
                        <div class="level-bar">
                            <div class="level-bar-inner" style="width: 85%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                            <h5 class="level-title">LAMP &amp; MERN<span class="level-label">Pro</span></h5>
                            <div class="level-bar">
                                <div class="level-bar-inner" style="width: 85%;">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                    <div class="item">
                        <h5 class="level-title">Digital Electronics<span class="level-label">Journeyman</span></h5>
                        <div class="level-bar">
                            <div class="level-bar-inner" style="width: 75%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    <div class="item">
                            <h5 class="level-title"><a href="http://www.ratatype.com/u585891/">Typing Speed (Dvorak)</a><span class="level-label">88 WPM</span></h5>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="98%">
                                </div>                                      
                            </div><!--//level-bar-->                                 
                        </div><!--//item-->
                </div>              
            </div><!--//content-->  

            </div>
        </div>
    </div>