---
layout: default
---

    <div class="row">
        <div class="primary col-md-8">
            <div class="row">
                <h3>About Me</h3>
                <p>I like building thigs. Whether it's made of wood or electricity, I want to know how it works. Adaptability and resourcefulness are important to my way of life. These traits have allowed me to expand my knowledge into a variety of areas and serve as my guide through the unkown.</p>
            </div>
            <div class="row projects">
                <h3>Projects</h3>
                    {% for post in site.posts %}
                        <div class="col-md-4">
                            <div class="project">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                                {{ post.excerpt }}
                                {% assign image = post.images[0] %}
                                {% include image.html image=image %}
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
        <div class="secondary col-md-4" >
            <div>
                <h3>Skills</h3>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
                <p>Test</p>
            </div>
        </div>
    </div>